---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import logo from "../assets/logo.svg";
---

<div id="container">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const button = document.getElementById("menu-button");
            const icon_closed = document.getElementById("icon-closed");
            const icon_open = document.getElementById("icon-open");
            const menu = document.getElementById("mobile-menu");

            let isMenuOpen = false;

            button!.addEventListener("click", () => {
                console.log("clicked");
                isMenuOpen = !isMenuOpen;
                if (isMenuOpen) {
                    menu!.classList.remove("hidden");
                    button!.setAttribute("aria-expanded", "true");
                    icon_closed!.classList.add("hidden");
                    icon_open!.classList.remove("hidden");
                    icon_closed!.classList.remove("block");
                    icon_open!.classList.add("block");
                } else {
                    menu!.classList.add("hidden");
                    button!.setAttribute("aria-expanded", "false");
                    icon_closed!.classList.remove("hidden");
                    icon_open!.classList.add("hidden");
                    icon_closed!.classList.add("block");
                    icon_open!.classList.remove("block");
                }
            });
        });
    </script>
    <header class="border-b-2 border-gray-200 fixed relative top-0 z-50 w-full">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    
                    <div class="flex flex-1 items-center sm:items-stretch sm:justify-end" >
                        <div class="flex flex-1 sm:justify-start shrink-0 items-center">
                            <img class="h-8 w-auto" src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company"/>
                        </div>
                        <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" aria-current="page">Dashboard</a>
                                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" >Team</a>
                                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" >Projects</a>
                                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" >Calendar</a>
                            </div>
                        </div>
                    </div>
                    <div class="inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button" id="menu-button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-1 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <!--Icon when menu is closed. Menu open: "hidden", Menu closed: "block"-->
                            <svg id="icon-closed" class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                            </svg>
                            <!-- Icon when menu is open. Menu open: "block", Menu closed: "hidden" -->
                            <svg id="icon-open" class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="sm:hidden hidden relative" id="mobile-menu">
                <div class="space-y-1 px-2 pt-2 pb-3">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white" aria-current="page">Dashboard</a>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white" >Team</a>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white" >Projects</a>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white" >Calendar</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex flex-col fixed relative w-full min-h-screen">
        <section class="bg-red-800">
            <div class=" w-full h-5">
                <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa</p>
            </div>
        </section>
    </main>
    <footer class="border-t-2 border-gray-200 position-fixed w-full z-10">
        <nav class="flex items
        -center justify-between p-1 bg-gray-100">
            <ul class="flex py-4 ml-4 space-x-4">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </footer>
</div>
